.DS_Store
.npmrc
android/v.1.4.x/DemoNFC/.idea/
android/v.1.4.x/DemoOnboarding/.idea/
android/v.1.4.x/DemoVideoId/.idea/
android/v.1.5.x/v.1.5.2/DemoNFC/.idea/
android/v.1.5.x/v.1.5.2/DemoOnboarding/.idea/
android/v.1.5.x/v.1.5.2/DemoVideoId/.idea/
android/v.1.5.x/v.1.5.3/DemoNFC/.idea/
android/v.1.5.x/v.1.5.3/DemoOnboarding/.idea/
android/v.1.5.x/v.1.5.3/DemoPhingers/.idea/
android/v.1.5.x/v.1.5.3/DemoVideoCall/.idea/
android/v.1.5.x/v.1.5.3/DemoVideoId/.idea/
android/v.1.5.x/v.1.5.3/DemoVoice/.idea/
android/v.1.5.x/v.1.5.4/DemoNFC/.idea/
android/v.1.5.x/v.1.5.4/DemoOnboarding/.idea/
android/v.1.5.x/v.1.5.4/DemoPhingers/.idea/
android/v.1.5.x/v.1.5.4/DemoVideoCall/.idea/
android/v.1.5.x/v.1.5.4/DemoVideoId/.idea/
android/v.1.5.x/v.1.5.4/DemoVoice/.idea/
android/v.1.5.x/v.1.5.5/DemoNFC/.idea/
android/v.1.5.x/v.1.5.5/DemoOnboarding/.idea/
android/v.1.5.x/v.1.5.5/DemoPhingers/.idea/
android/v.1.5.x/v.1.5.5/DemoVideoCall/.idea/
android/v.1.5.x/v.1.5.5/DemoVideoId/.idea/
android/v.1.5.x/v.1.5.5/DemoVoice/.idea/

android/v.2.0.0/DemoOnboarding/.idea/

android/v.2.0.0/DemoOnboardingFlowAIOCR/.idea/

android/v.2.0.0/DemoNFC/.idea/

android/v.2.0.0/DemoPhingers/.idea/

android/v.2.0.0/DemoVideoCall/.idea/

android/v.2.0.0/DemoVideoId/.idea/

android/v.2.0.0/DemoVoice/.idea/

DemoNFC/.idea/

DemoOnboarding/.idea/

DemoOnboardingFlowAIOCR/.idea/

DemoPhingers/.idea/

DemoVideoCall/.idea/

DemoVideoId/.idea/

DemoVoice/.idea/

DemoSelphi/.idea/
