
.DS_Store
.npmrc

android/v.1.4.x/DemoNFC/.idea/

android/v.1.4.x/DemoOnboarding/.idea/

android/v.1.5.2/DemoOnboarding/.idea/

android/v.1.5.3/DemoVideoId/.idea/

android/v.1.5.2/DemoNFC/.idea/

android/v.1.5.3/DemoNFC/.idea/

android/v.1.5.3/DemoVoice/.idea/

android/v.1.5.3/DemoVideoCall/.idea/

android/v.1.4.x/DemoVideoId/.idea/

android/v.1.5.2/DemoVideoId/.idea/

android/v.1.5.3/DemoPhingers/.idea/
